header {
    overflow: hidden;
    height: 35vh;
    padding-top: 7rem;
}
.header_container {
    position: relative;
    height: 55%;
    text-align: center;
}
.header_container h1{
    font-size: 1.8rem;
}


/*      CTA       */
.cta {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
.btn {
   font-size: .8rem;
}

/*      Social      */
.header_socials {
    display: flex;
    flex-direction: column;
    position:absolute;
    left: 0;
    bottom: 2rem;
    align-items: center;
    gap: 0.8rem;
}
.header_socials::after {
   content: '';
   width: 1px;
   height: 2rem;
   background:var(--color-primary);
}

/*       ME      */
.me {
    width: 20rem;
    height: auto;
    position:absolute;
    margin-top: 1.2rem;
    left: calc(50% - 10rem);
    overflow: hidden;
    
}
.me img {
    width: 100%;
    padding: 0.5rem;
    border-radius: 30% 30% 90% 90%;
}


/*        Scroll-Down      */
.scroll_down{
    position:absolute;
    right: -2rem;
    bottom: 5rem;
    font-weight:300;
    transform: rotate(90deg);
    font-size: 0.8rem;
}

/*        MEDIA QUERY       */

@media screen and (max-height: 1400px) {
    header {
        height:60vh !important;
      
    }
}
@media screen and (max-height: 1890px) {
    header {
        height: 45vh;
    }
}
@media screen and (max-height: 1100px) {
    header {
        height:95vh !important;
    }
}
@media screen and (max-width: 1024px) {
    header {
        height: 30vh;
    }
}

@media screen and (max-width: 578px) {
    .me img{
        height: auto;
        margin-bottom: 1rem;
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }
    .header_socials , .scroll_down{
        display: none;
    }
}
@media screen and (min-width: 278px) {
    .me img{
        padding: 0rem 0.5rem 0.5rem 0.5rem;
        margin-bottom: 0rem;
    }
}